<body class="hold-transition login-page">
  <div class="login-box">
    {{#if success_messages}}
    <div class="alert alert-success" role="alert" style="opacity: 0.8;">
      {{success_messages}}
    </div>
    {{/if}}
    {{#if error_messages}}
    <div class="alert alert-danger" role="alert" style="opacity: 0.8;">
      {{error_messages}}
    </div>
    {{/if}}
    {{#if error}}
    <div class="alert alert-danger" role="alert" style="opacity: 0.8;">
      {{error}}
    </div>
    {{/if}}
    <!-- /.login-logo -->
    <div class="card card-outline card-secondary">
      <div class="card-header d-flex flex-column align-items-center">
        <img src="/eye.PNG" alt=" Logo" class="brand-image img-circle mt-3" style="width:100px">
        <a class="h3 mt-3">The Eye of Horus</a>
      </div>
      <div class="card-body">
        <form action="/login" method="post">
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" name="email" value="super@example.com">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" name="password" value="aaaaaaaa">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <!-- /.col -->
            <div class="col-4 ">
              <button type="submit" class="btn btn-secondary btn-block">Sign In</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</body>