.select {
  background-color:#8C745E;
}

.signout {
  color:white;
  padding: 0 10px;
  border: none;
  background: none;
  margin-right: 1vw;
  color:rgba(240, 239, 239, 0.908);
  border: 1px solid rgba(211, 211, 211, 0.708);
  border-radius:10px;
}

.buttons {
  background-color: #8C745E;
  border:none;
  color:#C2C7D0
}

.buttons:hover {
  background-color: #6a5846;
  border:none;
  color:#C2C7D0
}

#profile {
  text-decoration: none;
  color:rgba(240, 239, 239, 0.908);
  border: 1px solid rgba(211, 211, 211, 0.708);
  border-radius:10px;
  height:25px;
  margin-right: 15px;
  padding: 0px 15px 10px 15px;
}

.hi {
  color: white;
  font-size:1.2rem;
  padding-bottom:5px;
  margin-right: 15px;
}

.pointer {
  cursor: pointer
}

.preview {
  background-color:#7c7a55;
  color:#C2C7D0
}

.preview:hover {
  background-color: #59573C;
  color: #C2C7D0
}

.edit, .cog {
  color:#C2C7D0;
}

.edit:hover, .cog:hover {
  color: #91959c;
}

.chart-edit {
  color:#8C745E
}

.chart-edit:hover {
  color:#a68e78
}

.delete {
  color: #d7616d;
}

.delete:hover {
  color: #DC3545;
  
}